# NIMBY vs. YIMBY: geospatial analysis of new construction projects in USA

TODO something like:
* Establish connection between pandas and dolt running in server mode.
* For each state/county/ZIP code (across some timeframe):
    * Compute a number of first property sales.
        * Absolute number
        * Per unit of area
        * Per unit of population
    * Compute percentage deviation from the mean.
        * Per unit of area
        * Per unit of population
* Do some dataviz to generate a nice, big chart and write it up.

During the second iteration of DoltHub's USA housing price data bounty a large amount of public real estate data was scraped, wrangled and imported into a version-controlled database. This enables us to do some exploration and analysis for the purpose of gaining insight into the dynamics of real estate market. Some parts of United States are said to suffer from NIMBYism - a resistance to new property developments in area. One famous example is Marc Andreesen, a prominent Silicon Valley venture capitalist, going out of his way to prevent new housing to be built in his town - Atherton, CA. But perhaps there's also areas that welcome and support new real estate projects? By wielding the power of programming and open data, we are able to leverage the `us-housing-prices-v2` database and find which are which. 

Our approach to data analysis approach is going to be as follows. We are going to limit data being analysed to timeframe from 2009 June 30 to 2020 January 1. This will provide us 10.5 years worth of data from the times between the official end of Great Recession of 2008 to the very beginning of the current quite complicated decade. Thus we will be looking into steady-state trends from relatively recent past period that had no major shocks to the entire real estate market. Furthermore, we are going to narrow our view into the initial records of property being sold, which implies that a property is newly built and just entered the market. We are going to count such initial sales for each county represented in the database. Some counties are geographically large, some are populous, some are small in area and/or population. To accomplish apples to apples comparison we are going to normalise number of initial sales by population and by land area. Lastly, we are going to compute standard deviation values for each county from per capita and per area values to appreciate how much they stand out.

In [73]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = """
SELECT a.*
FROM `sales` a
INNER JOIN
(
    SELECT   `property_id`, `state`, `property_zip5`, `property_county`, MIN(`sale_datetime`) AS first_sale_datetime
    FROM     `sales`
    WHERE    `sale_datetime` > \"2009-06-30\" AND `sale_datetime` < \"2020-01-01\"
    GROUP BY `property_id`
) b ON a.property_id = b.property_id AND a.sale_datetime = b.first_sale_datetime;
"""

result_df = pd.read_sql(query, db_connection)
result_df = result_df[['state', 'property_zip5', 'property_county', 'sale_datetime', 'property_id']]
result_df

,state,property_zip5,property_county,sale_datetime,property_id
0,AZ,85140,PINAL,2017-06-01,109235690
1,AZ,85140,PINAL,2018-10-01,9B37FF4B-FA81-43C5-A139-5DEBF5A0EE7C
2,AZ,85739,PINAL,2019-05-01,305931160
3,AZ,85138,PINAL,2017-03-01,512487380
4,AZ,85138,PINAL,2019-08-05,512494720
...,...,...,...,...,...
23829062,WI,None,MARATHON,2019-04-08,PRCL072-2809-251-0990
23829063,WI,None,KENOSHA,2019-04-25,PRCL86-4-119-314-1340
23829064,WI,None,BROWN,2019-09-06,PRCLB-209
23829065,WI,None,SHEBOYGAN,2019-09-30,PRCL59026385650
23829066,WI,None,TAYLOR,2019-12-30,PRCL014-00596-0000

https://stackoverflow.com/questions/11683712/sql-group-by-and-min-mysql

In [87]:
# TODO: rework this code to compute stats at county level.
counts_by_state = result_df['state'].value_counts()
df_counts_by_state = pd.DataFrame.from_records([counts_by_state.to_dict()]).transpose()
df_counts_by_state.reset_index(inplace=True)
df_counts_by_state = df_counts_by_state.rename(columns={'index': 'code', 0: 'n'})

query = "SELECT * FROM `states`;"
states_df = pd.read_sql(query, db_connection)

df_counts_by_state = pd.merge(df_counts_by_state, states_df, on='code')

df_state_area = pd.read_html("https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area")[0]
df_state_area.columns = df_state_area.columns.to_flat_index()
df_state_area = df_state_area.rename(columns={('State', 'State'): 'name', ('Land area[2]', 'km2'): 'land_area_km2'})
df_state_area = df_state_area[['name', 'land_area_km2']]

df_counts_by_state = pd.merge(df_counts_by_state, df_state_area, on='name')

df_state_pop = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population')[0]
df_state_pop.columns = df_state_pop.columns.to_flat_index()
df_state_pop = df_state_pop.rename(columns={('State or territory', 'State or territory'): 'name', 
                                            ('Census population[8][a]', 'July 1, 2021 (est.)'): 'population'})
df_state_pop = df_state_pop[['name', 'population']]

df_counts_by_state = pd.merge(df_counts_by_state, df_state_pop, on='name')
df_counts_by_state['per_capita'] = df_counts_by_state['n'] / df_counts_by_state['population']
df_counts_by_state['per_land_km2'] = df_counts_by_state['n'] / df_counts_by_state['land_area_km2']

per_capita_mean = float(df_counts_by_state[['per_capita']].mean()[0])
per_capita_stdev = float(df_counts_by_state[['per_capita']].std()[0])

df_counts_by_state['per_capita_stdevs_from_mean'] = (df_counts_by_state['per_capita'] - per_capita_mean) / per_capita_stdev

per_land_km2_mean = float(df_counts_by_state['per_land_km2'].mean())
per_land_km2_stdev = float(df_counts_by_state['per_land_km2'].std())

df_counts_by_state['per_land_km2_stdevs_from_mean'] = (df_counts_by_state['per_land_km2'] - per_land_km2_mean) / per_land_km2_stdev

df_counts_by_state['stdev_diff'] = abs(df_counts_by_state['per_capita_stdevs_from_mean'] - df_counts_by_state['per_land_km2_stdevs_from_mean'])

df_counts_by_state

,code,n,name,land_area_km2,population,per_capita,per_land_km2,per_capita_stdevs_from_mean,per_land_km2_stdevs_from_mean,stdev_diff
0,FL,3167058,Florida,138887,21781128.0,0.145404,22.803128,0.679327,0.080530,0.598797
1,NJ,2427504,New Jersey,19047,9267130.0,0.261948,127.448102,1.953858,2.556321,0.602463
2,MD,2314043,Maryland,25142,6165129.0,0.375344,92.038939,3.193963,1.718577,1.475385
3,IN,2059682,Indiana,92789,6805985.0,0.302628,22.197480,2.398740,0.066201,2.332539
4,NY,1799772,New York,122057,19835913.0,0.090733,14.745340,0.081445,-0.110109,0.191554
5,CA,1328030,California,403466,39237836.0,0.033846,3.291554,-0.540678,-0.381094,0.159584
6,MA,1317455,Massachusetts,20202,6984723.0,0.188620,65.214088,1.151937,1.083929,0.068007
7,NC,1147005,North Carolina,125920,10551162.0,0.108709,9.108998,0.278030,-0.243459,0.521489
8,IL,1145549,Illinois,143793,12671469.0,0.090404,7.966653,0.077845,-0.270486,0.348330
9,PA,1005373,Pennsylvania,115883,12964056.0,0.077551,8.675759,-0.062716,-0.253709,0.190993
10,CO,999412,Colorado,268431,5812069.0,0.171955,3.723162,0.969688,-0.370882,1.340570
11,OH,790242,Ohio,105829,11780017.0,0.067083,7.467159,-0.177190,-0.282303,0.105113
12,WI,737738,Wisconsin,140268,5895908.0,0.125127,5.259489,0.457581,-0.334534,0.792115
13,TX,634394,Texas,676587,29527941.0,0.021485,0.937638,-0.675860,-0.436785,0.239075
14,MN,495060,Minnesota,206232,5707390.0,0.086740,2.400500,0.037779,-0.402175,0.439954
15,VA,396015,Virginia,102279,8642274.0,0.045823,3.871909,-0.409693,-0.367363,0.042330
16,GA,390804,Georgia,148959,10799566.0,0.036187,2.623568,-0.515073,-0.396897,0.118175
17,WA,346944,Washington,172119,7738692.0,0.044832,2.015722,-0.420526,-0.411278,0.009248
18,MO,251732,Missouri,178040,6168187.0,0.040811,1.413907,-0.464501,-0.425517,0.038984
19,TN,203861,Tennessee,106798,6975218.0,0.029226,1.908847,-0.591193,-0.413807,0.177387
20,OK,182065,Oklahoma,177660,3986639.0,0.045669,1.024795,-0.411379,-0.434723,0.023343
21,MI,166881,Michigan,146435,10050811.0,0.016604,1.139625,-0.729236,-0.432006,0.297230
22,SC,129974,South Carolina,77857,5190705.0,0.025040,1.669394,-0.636980,-0.419472,0.217507
23,OR,105698,Oregon,248608,4246155.0,0.024893,0.425159,-0.638588,-0.448909,0.189679
24,AZ,93088,Arizona,294207,7276316.0,0.012793,0.316403,-0.770908,-0.451483,0.319425
25,NV,83899,Nevada,284332,3143991.0,0.026686,0.295074,-0.618982,-0.451987,0.166994
26,NE,36830,Nebraska,198974,1963692.0,0.018755,0.185100,-0.705705,-0.454589,0.251116
27,DC,29423,District of Columbia,158,670050.0,0.043912,186.221519,-0.430596,3.946839,4.377435
28,CT,24815,Connecticut,12542,3605597.0,0.006882,1.978552,-0.835550,-0.412158,0.423392
29,DE,15075,Delaware,5047,1003384.0,0.015024,2.986923,-0.746511,-0.388301,0.358210
30,IA,3646,Iowa,144669,3193079.0,0.001142,0.025202,-0.898328,-0.458372,0.439956

In [ ]:
# Based on: https://plotly.com/python/mapbox-county-choropleth/

import requests
import json

token = "pk.eyJ1IjoicmwxOTg3IiwiYSI6ImNqa3k5MTBjczBneHYza3F0c3Vub3pjY2sifQ.yYKuXGFsuX6qbEUF0EJn1A"

resp = requests.get("https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json")
counties = json.loads(resp.text)

df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
                   dtype={"fips": str})

import plotly.graph_objects as go

fig = go.Figure(go.Choroplethmapbox(geojson=counties, locations=df.fips, z=df.unemp,
                                    colorscale="Viridis", zmin=0, zmax=12, marker_line_width=0))
fig.update_layout(mapbox_style="light", mapbox_accesstoken=token,
                  mapbox_zoom=3, mapbox_center = {"lat": 37.0902, "lon": -95.7129})
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [ ]:
df