# NIMBY vs. YIMBY: geospatial analysis of new construction projects in USA

TODO something like:
* Establish connection between pandas and dolt running in server mode.
* For each state/county/ZIP code (across some timeframe):
    * Compute a number of first property sales.
        * Absolute number
        * Per unit of area
        * Per unit of population
    * Compute percentage deviation from the mean.
        * Per unit of area
        * Per unit of population
* Do some dataviz to generate a nice, big chart and write it up.

In [6]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = """
SELECT a.*
FROM `sales` a
INNER JOIN
(
    SELECT   `property_id`, `state`, `property_zip5`, `property_county`, MIN(`sale_datetime`) AS first_sale_datetime
    FROM     `sales`
    WHERE    `sale_datetime` LIKE "2021%"
    GROUP BY `property_id`
) b ON a.property_id = b.property_id AND a.sale_datetime = b.first_sale_datetime;
"""

result_df = pd.read_sql(query, db_connection)
result_df = result_df[['state', 'property_zip5', 'property_county', 'sale_datetime', 'property_id']]
result_df

,state,property_zip5,property_county,sale_datetime,property_id
0,AZ,85122,PINAL,2021-02-19,506060030
1,AZ,85128,PINAL,2021-12-01,509545320
2,AZ,85194,PINAL,2021-10-01,505386150
3,AZ,85194,PINAL,2021-05-01,505386200
4,AZ,85131,PINAL,2021-11-05,405063260
...,...,...,...,...,...
4610814,WI,None,VILAS,2021-09-29,PRCL10-3542
4610815,WI,None,RACINE,2021-07-01,PRCL010-04-20-04-161-000
4610816,WI,None,WALWORTH,2021-11-08,PRCLFD 2900001B
4610817,WI,None,ONEIDA,2021-02-24,PRCLLY-536-7
4610818,WI,None,CLARK,2021-03-22,PRCL265.0470.000

https://stackoverflow.com/questions/11683712/sql-group-by-and-min-mysql

In [27]:
counts_by_state = result_df['state'].value_counts()
df_counts_by_state = pd.DataFrame.from_records([counts_by_state.to_dict()]).transpose()
df_counts_by_state.reset_index(inplace=True)
df_counts_by_state = df_counts_by_state.rename(columns={'index': 'code', 0: 'n'})
df_counts_by_state

   code        n
0    FL  1617210
1    MD   438105
2    NY   313077
3    NC   261735
4    NJ   234884
5    WI   212881
6    CA   197501
7    IN   180955
8    CO   156033
9    MA   112573
10   OH   111984
11   IL   106047
12   PA   103678
13   TX    86119
14   VA    79900
15   WA    64678
16   MN    60587
17   GA    55565
18   AZ    41205
19   TN    39878
20   SC    30716
21   OK    28691
22   MO    19020
23   MI    14248
24   OR    13467
25   DC    10531
26   NV     8068
27   NE     7378
28   DE     3331
29   IA      774

In [28]:
query = "SELECT * FROM `states`;"
states_df = pd.read_sql(query, db_connection)
states_df

   code                            name
0    GA                         Georgia
1    GU                            Guam
2    HI                          Hawaii
3    CO                        Colorado
4    CT                     Connecticut
5    AK                          Alaska
6    DC            District of Columbia
7    AL                         Alabama
8    AR                        Arkansas
9    AS                  American Samoa
10   AZ                         Arizona
11   CA                      California
12   DE                        Delaware
13   FL                         Florida
14   FM  Federated States of Micronesia
15   IA                            Iowa
16   ID                           Idaho
17   IL                        Illinois
18   NY                        New York
19   OH                            Ohio
20   OK                        Oklahoma
21   ND                    North Dakota
22   NE                        Nebraska
23   NH                   New Hampshire
24   NJ                      New Jersey
25   NM                      New Mexico
26   OR                          Oregon
27   NV                          Nevada
28   PA                    Pennsylvania
29   PR                     Puerto Rico
30   MS                     Mississippi
31   MT                         Montana
32   NC                  North Carolina
33   IN                         Indiana
34   MN                       Minnesota
35   KS                          Kansas
36   LA                       Louisiana
37   KY                        Kentucky
38   MA                   Massachusetts
39   MO                        Missouri
40   MP        Northern Mariana Islands
41   MD                        Maryland
42   PW                           Palau
43   RI                    Rhode Island
44   SC                  South Carolina
45   SD                    South Dakota
46   TN                       Tennessee
47   TX                           Texas
48   ME                           Maine
49   MH                Marshall Islands
50   MI                        Michigan
51   UT                            Utah
52   VA                        Virginia
53   VI                  Virgin Islands
54   VT                         Vermont
55   WA                      Washington
56   WI                       Wisconsin
57   WV                   West Virginia
58   WY                         Wyoming

In [29]:
df_counts_by_state = pd.merge(df_counts_by_state, states_df, on='code')
df_counts_by_state

   code        n                  name
0    FL  1617210               Florida
1    MD   438105              Maryland
2    NY   313077              New York
3    NC   261735        North Carolina
4    NJ   234884            New Jersey
5    WI   212881             Wisconsin
6    CA   197501            California
7    IN   180955               Indiana
8    CO   156033              Colorado
9    MA   112573         Massachusetts
10   OH   111984                  Ohio
11   IL   106047              Illinois
12   PA   103678          Pennsylvania
13   TX    86119                 Texas
14   VA    79900              Virginia
15   WA    64678            Washington
16   MN    60587             Minnesota
17   GA    55565               Georgia
18   AZ    41205               Arizona
19   TN    39878             Tennessee
20   SC    30716        South Carolina
21   OK    28691              Oklahoma
22   MO    19020              Missouri
23   MI    14248              Michigan
24   OR    13467                Oregon
25   DC    10531  District of Columbia
26   NV     8068                Nevada
27   NE     7378              Nebraska
28   DE     3331              Delaware
29   IA      774                  Iowa

In [32]:
df_state_area = pd.read_html("https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area")[0]
df_state_area.columns = df_state_area.columns.to_flat_index()
df_state_area = df_state_area.rename(columns={('State', 'State'): 'name', ('Land area[2]', 'km2'): 'land_area_km2'})
df_state_area = df_state_area[['name', 'land_area_km2']]
df_state_area

                                                 name  land_area_km2
0                                              Alaska        1477953
1                                               Texas         676587
2                                          California         403466
3                                             Montana         376962
4                                          New Mexico         314161
5                                             Arizona         294207
6                                              Nevada         284332
7                                            Colorado         268431
8                                              Oregon         248608
9                                             Wyoming         251470
10                                           Michigan         146435
11                                          Minnesota         206232
12                                               Utah         212818
13                                              Idaho         214045
14                                             Kansas         211754
15                                           Nebraska         198974
16                                       South Dakota         196350
17                                         Washington         172119
18                                       North Dakota         178711
19                                           Oklahoma         177660
20                                           Missouri         178040
21                                            Florida         138887
22                                          Wisconsin         140268
23                                            Georgia         148959
24                                           Illinois         143793
25                                               Iowa         144669
26                                           New York         122057
27                                     North Carolina         125920
28                                           Arkansas         134771
29                                            Alabama         131171
30                                          Louisiana         111898
31                                        Mississippi         121531
32                                       Pennsylvania         115883
33                                               Ohio         105829
34                                           Virginia         102279
35                                          Tennessee         106798
36                                           Kentucky         102269
37                                            Indiana          92789
38                                              Maine          79883
39                                     South Carolina          77857
40                                      West Virginia          62259
41                                           Maryland          25142
42                                             Hawaii          16635
43                                      Massachusetts          20202
44                                            Vermont          23871
45                                      New Hampshire          23187
46                                         New Jersey          19047
47                                        Connecticut          12542
48                                           Delaware           5047
49                                       Rhode Island           2678
50                               District of Columbia            158
51                                        Puerto Rico           8868
52                           Northern Mariana Islands            472
53                       United States Virgin Islands            348
54                                     American Samoa            198
55                                               Guam            543
56                       Minor Outlying Islands[3][a]             41
57                               48 contiguous states        7653004
58                 50 states and District of Columbia        9147593
59  All 50 states, District of Columbia, and U.S. ...        9158064

In [33]:
df_counts_by_state = pd.merge(df_counts_by_state, df_state_area, on='name')
df_counts_by_state

   code        n                  name  land_area_km2
0    FL  1617210               Florida         138887
1    MD   438105              Maryland          25142
2    NY   313077              New York         122057
3    NC   261735        North Carolina         125920
4    NJ   234884            New Jersey          19047
5    WI   212881             Wisconsin         140268
6    CA   197501            California         403466
7    IN   180955               Indiana          92789
8    CO   156033              Colorado         268431
9    MA   112573         Massachusetts          20202
10   OH   111984                  Ohio         105829
11   IL   106047              Illinois         143793
12   PA   103678          Pennsylvania         115883
13   TX    86119                 Texas         676587
14   VA    79900              Virginia         102279
15   WA    64678            Washington         172119
16   MN    60587             Minnesota         206232
17   GA    55565               Georgia         148959
18   AZ    41205               Arizona         294207
19   TN    39878             Tennessee         106798
20   SC    30716        South Carolina          77857
21   OK    28691              Oklahoma         177660
22   MO    19020              Missouri         178040
23   MI    14248              Michigan         146435
24   OR    13467                Oregon         248608
25   DC    10531  District of Columbia            158
26   NV     8068                Nevada         284332
27   NE     7378              Nebraska         198974
28   DE     3331              Delaware           5047
29   IA      774                  Iowa         144669

In [39]:
df_state_pop = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population')[0]
df_state_pop.columns = df_state_pop.columns.to_flat_index()
df_state_pop = df_state_pop.rename(columns={('State or territory', 'State or territory'): 'name', 
                                            ('Census population[8][a]', 'July 1, 2021 (est.)'): 'population'})
df_state_pop = df_state_pop[['name', 'population']]
df_state_pop

                            name   population
0                     California   39237836.0
1                          Texas   29527941.0
2                        Florida   21781128.0
3                       New York   19835913.0
4                   Pennsylvania   12964056.0
5                       Illinois   12671469.0
6                           Ohio   11780017.0
7                        Georgia   10799566.0
8                 North Carolina   10551162.0
9                       Michigan   10050811.0
10                    New Jersey    9267130.0
11                      Virginia    8642274.0
12                    Washington    7738692.0
13                       Arizona    7276316.0
14                 Massachusetts    6984723.0
15                     Tennessee    6975218.0
16                       Indiana    6805985.0
17                      Missouri    6168187.0
18                      Maryland    6165129.0
19                     Wisconsin    5895908.0
20                      Colorado    5812069.0
21                     Minnesota    5707390.0
22                South Carolina    5190705.0
23                       Alabama    5039877.0
24                     Louisiana    4624047.0
25                      Kentucky    4509394.0
26                        Oregon    4246155.0
27                      Oklahoma    3986639.0
28                   Connecticut    3605597.0
29                          Utah    3322389.0
30                   Puerto Rico    3263584.0
31                          Iowa    3193079.0
32                        Nevada    3143991.0
33                      Arkansas    3025891.0
34                   Mississippi    2949965.0
35                        Kansas    2934582.0
36                    New Mexico    2115877.0
37                      Nebraska    1963692.0
38                         Idaho    1900923.0
39                 West Virginia    1782959.0
40                        Hawaii    1441553.0
41                 New Hampshire    1388992.0
42                         Maine    1372247.0
43                  Rhode Island    1095610.0
44                       Montana    1104271.0
45                      Delaware    1003384.0
46                  South Dakota     895376.0
47                  North Dakota     774948.0
48                        Alaska     732673.0
49          District of Columbia     670050.0
50                       Vermont     645570.0
51                       Wyoming     578803.0
52                      Guam[10]          NaN
53       U.S. Virgin Islands[11]          NaN
54            American Samoa[12]          NaN
55  Northern Mariana Islands[13]          NaN
56      Contiguous United States  329719519.0
57                 The 50 states  331223695.0
58        The 50 states and D.C.  331893745.0
59           Total United States          NaN

In [40]:
df_counts_by_state = pd.merge(df_counts_by_state, df_state_pop, on='name')
df_counts_by_state

   code        n                  name  land_area_km2  population
0    FL  1617210               Florida         138887  21781128.0
1    MD   438105              Maryland          25142   6165129.0
2    NY   313077              New York         122057  19835913.0
3    NC   261735        North Carolina         125920  10551162.0
4    NJ   234884            New Jersey          19047   9267130.0
5    WI   212881             Wisconsin         140268   5895908.0
6    CA   197501            California         403466  39237836.0
7    IN   180955               Indiana          92789   6805985.0
8    CO   156033              Colorado         268431   5812069.0
9    MA   112573         Massachusetts          20202   6984723.0
10   OH   111984                  Ohio         105829  11780017.0
11   IL   106047              Illinois         143793  12671469.0
12   PA   103678          Pennsylvania         115883  12964056.0
13   TX    86119                 Texas         676587  29527941.0
14   VA    79900              Virginia         102279   8642274.0
15   WA    64678            Washington         172119   7738692.0
16   MN    60587             Minnesota         206232   5707390.0
17   GA    55565               Georgia         148959  10799566.0
18   AZ    41205               Arizona         294207   7276316.0
19   TN    39878             Tennessee         106798   6975218.0
20   SC    30716        South Carolina          77857   5190705.0
21   OK    28691              Oklahoma         177660   3986639.0
22   MO    19020              Missouri         178040   6168187.0
23   MI    14248              Michigan         146435  10050811.0
24   OR    13467                Oregon         248608   4246155.0
25   DC    10531  District of Columbia            158    670050.0
26   NV     8068                Nevada         284332   3143991.0
27   NE     7378              Nebraska         198974   1963692.0
28   DE     3331              Delaware           5047   1003384.0
29   IA      774                  Iowa         144669   3193079.0

In [42]:
df_counts_by_state['per_capita'] = df_counts_by_state['n'] / df_counts_by_state['population']
df_counts_by_state['per_land_km2'] = df_counts_by_state['n'] / df_counts_by_state['land_area_km2']
df_counts_by_state

,code,n,name,land_area_km2,population,per_capita,per_land_km2
0,FL,1617210,Florida,138887,21781128.0,0.074248,11.644070
1,MD,438105,Maryland,25142,6165129.0,0.071062,17.425225
2,NY,313077,New York,122057,19835913.0,0.015783,2.565007
3,NC,261735,North Carolina,125920,10551162.0,0.024806,2.078582
4,NJ,234884,New Jersey,19047,9267130.0,0.025346,12.331811
5,WI,212881,Wisconsin,140268,5895908.0,0.036107,1.517673
6,CA,197501,California,403466,39237836.0,0.005033,0.489511
7,IN,180955,Indiana,92789,6805985.0,0.026588,1.950177
8,CO,156033,Colorado,268431,5812069.0,0.026846,0.581278
9,MA,112573,Massachusetts,20202,6984723.0,0.016117,5.572369
10,OH,111984,Ohio,105829,11780017.0,0.009506,1.058160
11,IL,106047,Illinois,143793,12671469.0,0.008369,0.737498
12,PA,103678,Pennsylvania,115883,12964056.0,0.007997,0.894678
13,TX,86119,Texas,676587,29527941.0,0.002917,0.127284
14,VA,79900,Virginia,102279,8642274.0,0.009245,0.781197
15,WA,64678,Washington,172119,7738692.0,0.008358,0.375775
16,MN,60587,Minnesota,206232,5707390.0,0.010616,0.293781
17,GA,55565,Georgia,148959,10799566.0,0.005145,0.373022
18,AZ,41205,Arizona,294207,7276316.0,0.005663,0.140054
19,TN,39878,Tennessee,106798,6975218.0,0.005717,0.373397
20,SC,30716,South Carolina,77857,5190705.0,0.005918,0.394518
21,OK,28691,Oklahoma,177660,3986639.0,0.007197,0.161494
22,MO,19020,Missouri,178040,6168187.0,0.003084,0.106830
23,MI,14248,Michigan,146435,10050811.0,0.001418,0.097299
24,OR,13467,Oregon,248608,4246155.0,0.003172,0.054170
25,DC,10531,District of Columbia,158,670050.0,0.015717,66.651899
26,NV,8068,Nevada,284332,3143991.0,0.002566,0.028375
27,NE,7378,Nebraska,198974,1963692.0,0.003757,0.037080
28,DE,3331,Delaware,5047,1003384.0,0.003320,0.659996
29,IA,774,Iowa,144669,3193079.0,0.000242,0.005350

In [66]:
per_capita_mean = float(df_counts_by_state[['per_capita']].mean()[0])
per_capita_stdev = float(df_counts_by_state[['per_capita']].std()[0])

df_counts_by_state['per_capita_stdevs_from_mean'] = (df_counts_by_state['per_capita'] - per_capita_mean) / per_capita_stdev

per_land_km2_mean = float(df_counts_by_state['per_land_km2'].mean())
per_land_km2_stdev = float(df_counts_by_state['per_land_km2'].std())

df_counts_by_state['per_land_km2_stdevs_from_mean'] = (df_counts_by_state['per_land_km2'] - per_land_km2_mean) / per_land_km2_stdev

df_counts_by_state['stdev_diff'] = abs(df_counts_by_state['per_capita_stdevs_from_mean'] - df_counts_by_state['per_land_km2_stdevs_from_mean'])

df_counts_by_state

,code,n,name,land_area_km2,population,per_capita,per_land_km2,per_capita_stdevs_from_mean,per_land_km2_stdevs_from_mean,stdev_diff
0,FL,1617210,Florida,138887,21781128.0,0.074248,11.644070,3.278640,0.586409,2.692232
1,MD,438105,Maryland,25142,6165129.0,0.071062,17.425225,3.103115,1.049088,2.054027
2,NY,313077,New York,122057,19835913.0,0.015783,2.565007,0.058099,-0.140210,0.198309
3,NC,261735,North Carolina,125920,10551162.0,0.024806,2.078582,0.555128,-0.179139,0.734267
4,NJ,234884,New Jersey,19047,9267130.0,0.025346,12.331811,0.584855,0.641450,0.056595
5,WI,212881,Wisconsin,140268,5895908.0,0.036107,1.517673,1.177605,-0.224030,1.401635
6,CA,197501,California,403466,39237836.0,0.005033,0.489511,-0.534060,-0.306316,0.227744
7,IN,180955,Indiana,92789,6805985.0,0.026588,1.950177,0.653254,-0.189416,0.842670
8,CO,156033,Colorado,268431,5812069.0,0.026846,0.581278,0.667507,-0.298972,0.966479
9,MA,112573,Massachusetts,20202,6984723.0,0.016117,5.572369,0.076481,0.100477,0.023996
10,OH,111984,Ohio,105829,11780017.0,0.009506,1.058160,-0.287674,-0.260806,0.026868
11,IL,106047,Illinois,143793,12671469.0,0.008369,0.737498,-0.350322,-0.286469,0.063853
12,PA,103678,Pennsylvania,115883,12964056.0,0.007997,0.894678,-0.370793,-0.273890,0.096903
13,TX,86119,Texas,676587,29527941.0,0.002917,0.127284,-0.650670,-0.335306,0.315364
14,VA,79900,Virginia,102279,8642274.0,0.009245,0.781197,-0.302052,-0.282972,0.019080
15,WA,64678,Washington,172119,7738692.0,0.008358,0.375775,-0.350940,-0.315419,0.035521
16,MN,60587,Minnesota,206232,5707390.0,0.010616,0.293781,-0.226570,-0.321981,0.095411
17,GA,55565,Georgia,148959,10799566.0,0.005145,0.373022,-0.527908,-0.315639,0.212269
18,AZ,41205,Arizona,294207,7276316.0,0.005663,0.140054,-0.499386,-0.334284,0.165102
19,TN,39878,Tennessee,106798,6975218.0,0.005717,0.373397,-0.496400,-0.315609,0.180791
20,SC,30716,South Carolina,77857,5190705.0,0.005918,0.394518,-0.485361,-0.313919,0.171442
21,OK,28691,Oklahoma,177660,3986639.0,0.007197,0.161494,-0.414891,-0.332568,0.082323
22,MO,19020,Missouri,178040,6168187.0,0.003084,0.106830,-0.641469,-0.336943,0.304525
23,MI,14248,Michigan,146435,10050811.0,0.001418,0.097299,-0.733238,-0.337706,0.395533
24,OR,13467,Oregon,248608,4246155.0,0.003172,0.054170,-0.636620,-0.341158,0.295463
25,DC,10531,District of Columbia,158,670050.0,0.015717,66.651899,0.054430,4.988812,4.934381
26,NV,8068,Nevada,284332,3143991.0,0.002566,0.028375,-0.669970,-0.343222,0.326748
27,NE,7378,Nebraska,198974,1963692.0,0.003757,0.037080,-0.604361,-0.342525,0.261836
28,DE,3331,Delaware,5047,1003384.0,0.003320,0.659996,-0.628457,-0.292672,0.335785
29,IA,774,Iowa,144669,3193079.0,0.000242,0.005350,-0.797974,-0.345065,0.452910

In [27]:
counts_by_county = result_df['property_county'].value_counts()
df_counts_by_county = pd.DataFrame.from_records([counts_by_county.to_dict()]).transpose()
df_counts_by_county

                    0
LEE            155915
LOS ANGELES    116226
PALM BEACH     103406
COOK COUNTY     98094
MIAMI-DADE      88775
...               ...
DUBOIS              1
Halifax             1
NANTUCKET           1
OWEN                1
RUSK, TOWN OF       1

[364 rows x 1 columns]

In [29]:
counts_by_zip = result_df['property_zip5'].value_counts()
df_counts_by_zip = pd.DataFrame.from_records([counts_by_zip.to_dict()]).transpose()
df_counts_by_zip

           0
34953  19619
33993  15350
33909  11059
21842   9590
33974   9345
...      ...
78418      1
64081      1
32279      1
00859      1
60190      1

[9528 rows x 1 columns]