# NIMBY vs. YIMBY: geospatial analysis of new construction projects in USA

TODO something like:
* Establish connection between pandas and dolt running in server mode.
* For each state/county/ZIP code (across some timeframe):
    * Compute a number of first property sales.
        * Absolute number
        * Per unit of area
        * Per unit of population
    * Compute percentage deviation from the mean.
        * Per unit of area
        * Per unit of population
* Do some dataviz to generate a nice, big chart and write it up.

During the second iteration of DoltHub's USA housing price data bounty a large amount of public real estate data was scraped, wrangled and imported into a version-controlled database. This enables us to do some exploration and analysis for the purpose of gaining insight into the dynamics of real estate market. Some parts of United States are said to suffer from NIMBYism - a resistance to new property developments in area. One famous example is Marc Andreesen, a prominent Silicon Valley venture capitalist, going out of his way to prevent new housing to be built in his town - Atherton, CA. But perhaps there's also areas that welcome and support new real estate projects? By wielding the power of programming and open data, we are able to leverage the `us-housing-prices-v2` database and find which are which. 

Our approach to data analysis approach is going to be as follows. We are going to limit data being analysed to timeframe from 2009 June 30 to 2020 January 1. This will provide us 10.5 years worth of data from the times between the official end of Great Recession of 2008 to the very beginning of the current quite complicated decade. Thus we will be looking into steady-state trends from relatively recent past period that had no major shocks to the entire real estate market. Furthermore, we are going to narrow our view into the initial records of property being sold, which implies that a property is newly built and just entered the market. We are going to count such initial sales for each county represented in the database. Some counties are geographically large, some are populous, some are small in area and/or population. To accomplish an apples to apples comparison we are going to normalise number of initial sales by population and by land area. Lastly, we are going to compute standard deviation values for each county from per capita and per area values to appreciate how much they stand out.

In [1]:
from io import StringIO

import pandas as pd
import requests

resp = requests.get("https://www.openintro.org/data/csv/county_complete.csv", 
                    headers={"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36"})
resp

In [2]:
def cleanup_county(c):
    if c is None:
        return None
    return c.upper().replace("COUNTY", "").strip()

buf = StringIO(resp.text)

df_counties = pd.read_csv(buf)
df_counties = df_counties[["fips", "state", "name", "pop2010", "area_2010"]]
df_counties = df_counties.rename(columns={'name': 'county'})
df_counties['county'] = df_counties['county'].apply(cleanup_county)

import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = "SELECT * FROM `states`;"
states_df = pd.read_sql(query, db_connection)
states_df = states_df.rename(columns={'name': 'state'})

df_counties = pd.merge(df_counties, states_df, on='state')
df_counties

       fips    state      county  pop2010  area_2010 code
0      1001  Alabama     AUTAUGA    54571     594.44   AL
1      1003  Alabama     BALDWIN   182265    1589.78   AL
2      1005  Alabama     BARBOUR    27457     884.88   AL
3      1007  Alabama        BIBB    22915     622.58   AL
4      1009  Alabama      BLOUNT    57322     644.78   AL
...     ...      ...         ...      ...        ...  ...
3137  56037  Wyoming  SWEETWATER    43806   10426.65   WY
3138  56039  Wyoming       TETON    21294    3995.38   WY
3139  56041  Wyoming       UINTA    21118    2081.26   WY
3140  56043  Wyoming    WASHAKIE     8533    2238.55   WY
3141  56045  Wyoming      WESTON     7208    2398.09   WY

[3142 rows x 6 columns]

In [ ]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = """
SELECT a.*
FROM `sales` a
INNER JOIN
(
    SELECT   `property_id`, `state`, `property_zip5`, `property_county`, MIN(`sale_datetime`) AS first_sale_datetime
    FROM     `sales`
    GROUP BY `property_id`
) b ON a.property_id = b.property_id AND a.sale_datetime = b.first_sale_datetime
WHERE b.first_sale_datetime > \"2009-06-30\" AND b.first_sale_datetime < \"2020-01-01\";
"""

result_df = pd.read_sql(query, db_connection)
result_df

In [ ]:
result_df = result_df[['state', 'property_zip5', 'property_county', 'sale_datetime', 'property_id']]
result_df = result_df.rename(columns={'property_county': 'county'})
result_df = result_df['county'].apply(cleanup_county)
result_df

https://stackoverflow.com/questions/11683712/sql-group-by-and-min-mysql

In [ ]:
result_df = result_df.rename(columns={'state': 'code'})

counts_by_county = result_df['county'].value_counts()
df_counts_by_county = pd.DataFrame.from_records([counts_by_county.to_dict()]).transpose()
df_counts_by_county.reset_index(inplace=True)
df_counts_by_county = df_counts_by_county.rename('index': 'county', 0: 'n')

df_counts_by_county = pd.merge(df_counts_by_county, df_counties, on=['code', 'county'])

df_counts_by_county['per_capita'] = df_counts_by_county['n'] / df_counts_by_county['pop2010']
df_counts_by_county['per_area'] = df_counts_by_county['n'] / df_counts_by_county['area_2010']

per_capita_mean = float(df_counts_by_county['per_capita'].mean())
per_capita_stdev = float(df_counts_by_county['per_capita'].std())

df_counts_by_county['per_capita_stdevs_from_mean'] = (df_counts_by_county['per_capita'] - per_capita_mean) / per_capita_stdev

per_area_mean = float(df_counts_by_county['per_area'].mean())
per_area_stdev = float(df_counts_by_county['per_area'].std())

df_counts_by_county['per_area_stdevs_from_mean'] = (df_counts_by_county['per_area'] - per_area_mean) / per_area_stdev

df_counts_by_county

In [ ]:
# Based on: https://plotly.com/python/mapbox-county-choropleth/
import json

import plotly.graph_objects as go
import requests

def show_county_map(zkey):
    token = "pk.eyJ1IjoicmwxOTg3IiwiYSI6ImNqa3k5MTBjczBneHYza3F0c3Vub3pjY2sifQ.yYKuXGFsuX6qbEUF0EJn1A"

    resp = requests.get("https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json")
    counties = json.loads(resp.text)
    fig = go.Figure(go.Choroplethmapbox(geojson=counties, locations=df_counts_by_state.fips, 
                                        z=df_counts_by_state[zkey],
                                        colorscale="Viridis", marker_line_width=0))
    fig.update_layout(mapbox_style="light", mapbox_accesstoken=token,
                      mapbox_zoom=3, mapbox_center = {"lat": 37.0902, "lon": -95.7129})
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()
    
show_county_map('per_capita')

In [ ]:
show_county_map('per_area')

We believe that data analysis should be reproducible. Reproducibility of data science requires two pillars: open data and free, open software. In this particular case, open data requirement is fullfilled by `us-housing-prices-v2` database, hosted on DoltHub. The latter requirement is fullfilled by Dolt DMBS and a Pythonic data science environment based on Jupyter. We did the heavy lifting of tabular data with Pandas library. To establish connection between Dolt running in server mode and Pandas we used MySQL connector Python module with SQLAlchemy (Dolt is compatible-enough with MySQL for this to work). Plotly was used to visualise county-level data on interactive map view. Some supporting geospatial data was downloaded with Python `requests` module.