# NIMBY vs. YIMBY: geospatial analysis of new construction projects in USA

TODO something like:
* Establish connection between pandas and dolt running in server mode.
* For each state/county/ZIP code (across some timeframe):
    * Compute a number of first property sales.
        * Absolute number
        * Per unit of area
        * Per unit of population
    * Compute percentage deviation from the mean.
        * Per unit of area
        * Per unit of population
* Do some dataviz to generate a nice, big chart and write it up.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine

db_connection_str = 'mysql+mysqlconnector://rl:trustno1@localhost/us_housing_prices_v2'
db_connection = create_engine(db_connection_str)

query = """
SELECT *
FROM   `sales` a
INNER JOIN
(
    SELECT   `property_id`, `state`, `property_zip5`, `property_county`, MIN(`sale_datetime`) AS first_sale_datetime
    FROM     `sales`
    WHERE    `sale_datetime` LIKE "2021%"
    GROUP BY `property_id`
) b ON a.property_id = b.property_id AND a.sale_datetime = b.first_sale_datetime
LIMIT 10;
"""

result_df = pd.read_sql(query, db_connection)
result_df

https://stackoverflow.com/questions/11683712/sql-group-by-and-min-mysql